<div class="group-detail-container">
  <div class="group-detail-header">
    <%= image_tag @group.avatar %>
    <div class="mt-3 text-dark-gray fw-600"><%= @group.name %></div>
  </div>
  <hr>
  <% @group.film_viewings.each do |film_viewing| %>
    <ul class="group-film-viewings list-group">
      <li class="d-flex justify-content-between fs-14">
        <span class="d-flex flex-column"><small class="text-muted">Name</small><%= film_viewing.name %></span>
        <span class="d-flex flex-column"><small class="text-muted">Running time</small><time><%= running_time_str(film_viewing.running_time) %></time></span>
        <span class="d-flex flex-column"><small class="text-muted">Added by</small><span class="text-dark-gray">@<%= film_viewing.author.name %></span></span>
      </li>
    </ul>
  <% end %>
  <%= group_detail_hr_tag(@group) %>
  <div class="viewing-detail-authorship text-center">
    <div class="text-muted">Created by
      <span class="fw-600 text-decoration-underline">
        <%= link_to user_path(@group.user) do %>
          @<%= @group.user.name %>
        <% end %>
      </span>
    </div>
    <div class="d-flex justify-content-center">
      <svg class="ml-n1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="#dfdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 9v10a2 2 0 002 2h12a2 2 0 002-2V9M4 9V7a2 2 0 012-2h2M4 9h16m0 0V7a2 2 0 00-2-2h-2m0 0V3m0 2H8m0-2v2"/>
      </svg>
      <div class="text-light-gray ml-1"><%= friendly_date_detailed(@group.created_at) %></div>
    </div>
  </div>
</div>
