<div class="wrapper d-flex align-items-stretch">
  <%= render "shared/sidebar" %>
  <div id="content">
    <div class="topbar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 8h12M6 12h12M6 16h12"/> </svg>
        </button>
      </div>
      <div class="topbar-center">
        <div class="text-uppercase fs-1">Groups</div>
      </div>
      <div class="topbar-right mr-5">
      </div>
    </div>
    <main class="main-content pt-1">
      <div class="viewings-container-wrapper">
        <% @groups.each do |group| %>
          <div class="group-container">
            <%= link_to group do %>
              <%= image_tag(group.avatar) %>
            <% end %>
            <div class="group-detail text-muted ml-3">
              <p class="mb-4"><%= group.name %></p>
              <p class="viewing-detail-date"><time><%= friendly_date(group.created_at) %></time></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="scan-wrapper text-center">
        <div class="btn scan-btn my-3 py-3">
          <%= link_to 'Create new', new_group_path, class: 'text-uppercase fs-1' %>
        </div>
      </div>
    </main>
  </div>
</div>
