<div class="user-profile d-flex flex-column align-items-center justify-content-center">
  <div class="avatar my-4">
    <img src="https://i1.sndcdn.com/avatars-000418309074-tbppko-t200x200.jpg" />
  </div>
  <h2 class="username"><%= "@#{@user.name}" %></h2>
  <ul class="list-unstyled components mb-5">
    <li>
      <%= link_to film_viewings_path do %>
        <%= content_tag :span, nil, class: 'fa fa-film mr-3' %>All my viewings
      <% end %>
    </li>
    <li>
      <%= link_to film_viewings_unassigned_path do %>
        <%= content_tag :span, nil, class: 'fa fa-film mr-3' %>All my external viewings
      <% end %>
    </li>
    <li>
      <%= link_to groups_path do %>
        <%= content_tag :span, nil, class: 'fa fa-object-group mr-3' %>All groups
      <% end %>
    </li>
    <li>
      <%= link_to logout_path do %>
        <%= content_tag :span, nil, class: 'fa fa-power-off mr-3' %>Log out
      <% end %>
    </li>
  </ul>
</div>
