<%= form_with(model: film_viewing) do |form| %>
  <% if film_viewing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film_viewing.errors.count, "error") %> prohibited this film_viewing from being saved:</h2>

      <ul>
        <% film_viewing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
