<p id="notice"><%= notice %></p>

<h1>Film Viewings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @film_viewings.each do |film_viewing| %>
      <tr>
        <td><%= film_viewing.name %></td>
        <td><%= film_viewing.rating %></td>
        <td><%= film_viewing.user_id %></td>
        <td><%= link_to 'Show', film_viewing %></td>
        <td><%= link_to 'Edit', edit_film_viewing_path(film_viewing) %></td>
        <td><%= link_to 'Destroy', film_viewing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film Viewing', new_film_viewing_path %>
